<ng-container>
  <div class="primary-content" (window:resize)="eventChangeWindow()">
    <ng-container>
      
      <app-sidebar
      (eventActionSidebar)="changeStatusSidebar($event)"
      [sidebarVisible]="isSidebarVisible"
      [items]="items"
      [name]="name"
      [role]="rol"
      ></app-sidebar>
      <app-navbar
        (eventActionSidebar)="changeStatusSidebar($event)"
        [sidebarVisible]="isSidebarVisible"
        [items]="items"
        [name]="name"
        [role]="rol"
      ></app-navbar>
    </ng-container>
  </div>
  <div
    [ngClass]="{ 'sidebar-opened': isSidebarVisible }"
    class="container-pages"
  >
    <router-outlet></router-outlet>
  </div>
</ng-container>
